{% extends 'layout.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
  <div class="profile-container">
    <h1>Welcome, {{name}}</h1>

  <div class="reviews-container">
    <div class="reviews">
      <h2>Your reviews:</h2> <!-- Moved the title above the reviews -->
      {% if reviews %}
        {% for course_name in course_names %}
        <h3 class="review-course">{{ course_name[14] }} </h3>
          <div class="review">
            <h3 class="review-title">{{ course_name[4] }}</h3>
            <div class="score-details">
              <p class="score-label">Helpfulness:</p>
              <p class="score">{{ course_name[9] }}</p>
              <p class="score-label">Easiness:</p>
              <p class="score">{{ course_name[10] }}</p>
              <p class="score-label">Clarity:</p>
              <p class="score">{{ course_name[11] }}</p>
              <p class="score-label">Workload:</p>
              <p class="score">{{ course_name[12] }}</p>
              <p class="score-label">Avg Rating:</p>
              <p class="score">{{ course_name[13] }}</p>
            </div>
            <div class="review-text">
              <p>{{ course_name[5] }}</p>
            </div>
            <form action="/delete-review" method="post">
              <input type="hidden" name="review_id" value ="{{ course_name[0] }}">
              <button type="Delete" class="delete-button">Delete</button>
            </form>
          </div>
        {% endfor %}
      {% else %}
        <p>No reviews found.</p>
      {% endif %}

  <style>
    .reviews-container {
      display: flex;
      justify-content: space-between;
      margin: 20px auto;
      max-width: 1;
      padding: 20px;
      background-color: #f8f8f8;
      border-radius: 5px;
    }

    .reviews-container h2 {
      margin-bottom: 10px;
    }

    .reviews {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    .reviews .review-course {
      font-size: 20px;
      text-align: center;
      margin: 0;
      margin-right: 95px;
      color: teal;
    }

    .review {
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 5px;
      padding: 20px;
      width: 600px;
    }

    .review-title {
      margin: 0;
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .score-details {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      align-items: center;
    }

    .score-label {
      margin: 0;
    }

    .score-details .score {
      margin: 0;
      margin-left: 10px;
      font-size: 12px;
      font-weight: bold;
      color: #007bff;
    }
    .score-details .score-label {
      margin: 0;
      color: #8A8A8A;
      font-size: 12px;
    }

    .review-text {
      margin-top: 10px;
    }
    .delete-button {
    margin-top: auto;
    margin-left: auto;
    display: block;
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .delete-button:hover {
    background-color: #c82333;
  }
  </style>
{% endblock %}